@CHARSET "ISO-8859-1";

dt { float: left; width: 70px; }
dd { margin-left: 70px; }

#wrapper {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	
	display: -moz-box;
	-moz-box-orient: horizontal;
	
	display: box;
	box-orient: horizontal;
	
	width: 100%;
	height: 640px;
}

#wrapper > div:nth-child(1),
#wrapper > div:nth-child(3) {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}

#wrapper > div:nth-child(2) {
	width: 640px;
	height: 640px;
}

.wrapper-column {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	height: 640px;	
}

.wrapper-column > div:nth-child(1),
.wrapper-column > div:nth-child(3) {	
	height: 188px;
	width: 100%;
}

.wrapper-column > div:nth-child(2) {
	-webkit-flex: 1;
}


.blue
{
	color: blue;
}

.bluebox {
	background-color: #0070C0;
	color: black;
}

.yellowbox {
	background-color: #FAF011;
	color: black;
}

.redbox {
	color: black;
	background-color: #FF0000;
}

.greenbox {
	background-color: #45911A;
	color: black;
}

table.playerinfo-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-color: black;
	border-width: 1px;
}

table.playerinfo-table td {
	border-width: 1px;
	border-style: inset;
	border-color: black;
}

.button-action {
	position: relative;
	width: 60px;
	height: 60px;
	padding: 0;	
}

.button-action span {
	position: absolute;
	left: 25px;
	top: 30px;
	font-size: 100%;
	font-weight: bold;
		
}

.button-done {
	background-image:url('../images/buttons/action-deplacement-done.png');
	background-size:50px 50px;
	background-repeat:no-repeat;
	background-position:center;
}

.button-action img {
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
}

.container {
    position: relative;
    width:100%;
    overflow:hidden;
    height:640px;
    color: black;
}

.left {
    width: 640px;
    height: 640px;
    position: absolute;
    top: 0;
    left: 0;
}

.right {
    margin-left: 1100px;
    margin-right: 20px;
}

#message 
{
	width: 100%;
	border: 1px solid black;
	height: 150px;
	overflow-y:scroll;
	position: relative;
	display: inline-block;
	background-color: white;
	font-size: 70%;
}

#message > ul > li
{
	height: 10px;
	margin-top: 6px;
	margin-left: 3px;
}


.kickPlayer 
{
	background-image: url('../img/x_red.png');
	cursor: pointer;
	height: 15px;
	width: 15px;
	display:inline-block;
}

ul, li
{
	
	list-style-type: none;
}

#onlineUsers {
	display: inline-block;
	width: 20%;
	heigth: auto;
	border: 1px solid black;
}

#onlineRooms {
	width : 400px;
}

#onlineRooms ul li {
	height:30px;
	padding: 5px;
}

.red 
{
	color: red;
}

.password {
	background: url('../img/lock.png') no-repeat right;
	background-size:20px 20px;
}

#chatBar
{
	width: 336px;
	margin-top: 10px;
}

#lobbyName {
	color: white;
}

#turn {
	color: white;
}

#control-ui {
	margin-top: 20px;
	width: 100%;
	height: 200px;
}

.choices {
	z-index:10;
	width: 650px;
    height: 200px;
    position: absolute;
    border-radius: 7px;
    border: 2px solid black;
    background:white;
    color: black;
    left: 50%;
  	top: 50%;
  	margin-left: -325px;
    margin-top: -100px; /* This should be half of the total height of your div */		
}

.choices .choices-container {
	position: relative;
	
}

.choices .choices-container ul {
	text-align: center;
	margin-top: 10px;
}

.choices .choices-container li {
	display: inline-block;	 
	margin-left: 2px;
	margin-right: 2px;

}

.choices .choices-container .choice {
	border: 1px solid black;
	width: 150px;
	height: 150px;
	display: table;
}

.choices .choices-container span {
	display: table-cell;
	vertical-align: middle;	
}

.combat-popup {
	z-index:10;
	width: 600px;
    height: 200px;
    position: absolute;
    border-radius: 7px;
    border: 2px solid black;
    background:#FFFFFF;
    color: black;
    left: 50%;
  	top: 50%;
  	margin-left: -300px;
    margin-top: -100px; /* This should be half of the total height of your div */	
}

.popup-title {
	height: 20px;
	text-align: center;
}

.popup-title h3 {
	height: 20px;
	text-align: center;
	font-weight: bold;
}

.popup-title span {
	height: 20px;
	text-align: center;
	font-weight: bold;
}

.popup-close {
	position: relative;
	top: -20px;
	width: 20px;
	height: 20px;
	background: url('../images/game/button-close.png') no-repeat;
	background-size:20px 20px;	
}

.merchant .popup-close {
	left: 280px;
}

.spells .popup-close {
	left: 580px;

}


.merchant {
	z-index:10;
	width: 300px;
    height: 400px;
    position: absolute;
    border-radius: 7px;
    border: 2px solid black;
    background:#FFFFFF;
    left: 50%;
  	top: 50%;
  	margin-left: -150px;
    margin-top: -300px; /* This should be half of the total height of your div */    
    padding: 5px;
}

.merchant-scroll-wrapper {
	/*overflow-y :scroll;*/
	height: 360px;
	border: 1px solid black;
}

#merchant-items {
	width: 100%;
	vertical-align:text-top	
}

#merchant-items .ui-selecting {
	background-color: #808080;
}

#merchant-items .ui-selected {
	background-color: #A0A0A0;
}

#merchant-items li {
	clear: both;
	height: 40px;
	border-bottom: 1px solid black;
	background-color: #C0C0C0;
}

#merchant #player-gold {
	height: 25px;
}

#merchant #player-gold span {
	line-height: 25px;	
	height: 25px;	
	display: inline-block;
	float: left;
}

#merchant #player-gold img {
	width: 20px;
	height: 20px;
	margin-top: 2px;
}


#merchant #player-gold #merchant-buy {
	vertical-align:top;
	float: right;
}

#merchant-items .image {
	width:40px;
	height:40px;
	float: left;
}

#merchant-items .info {
	height:40px;
	width: 198px;
	margin-left: 5px;
	float: left;
}

#merchant-items .disabled img {	
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%); 
}

#merchant-items .disabled {	
	color: #C0C0C0;
	background-color: #454545; 
}

#merchant-items .info .name{
	font-size: 80%;
	font-weight: bold;
}

#merchant-items .info .description{
	font-size: 60%;	
}

#merchant-items .cost {
	width:40px;
	height:40px;
	float: right;
	text-align: center;
	line-height: 40px;
}

#merchant-items .cost h3 {
	font-size: 20px;
}


.paladin {
	color: #0070C0;
	border-color: #0070C0;
}

.sorciere {
	color: #BFBFBF;
	border-color: #BFBFBF;	
}

.elfe {
	color: #00B050;
	border-color: #00B050;	
}

.mage {
	color: #C0504D;
	border-color: #C0504D;	
}

.nain {
	color: #E46D0A;
	border-color: #E46D0A;	
}

.ninja {
	color: #B2A1C7;
	border-color: #B2A1C7;	
}

.chenille {
	color: #FFFF66;
	border-color: #FFFF66;	
}

.tartempion {
	color: #000000;
	border-color: #000000;	
}

.sylvin {
	color: #948B54;
	border-color: #948B54;	
}

#spells .popup-title {
	margin-top: 20px;
}

.spells {
	position: fixed;
	z-index:10;
	width: 650px;
    height: 300px;
    background-image:url('../images/Scroll_Paper_wide.png');	
	background-repeat:no-repeat;
	background-position:center;
	color: black;
    position: absolute;
    left: 50%;
  	bottom: 0px;
  	margin-left: -300px;
    margin-top: -100px; /* This should be half of the total height of your div */    
    padding: 5px;	
}

.spell-scroll-wrapper {
	position:absolute;
	top: 50px;
	left: 100px;
	overflow-x:hidden;
	overflow-y:hidden;
	width: 460px;
}

#spell-container {
	height: 200px;
}

.spell {
	display: inline-block;
	z-index:11;
	margin-right: 5px;
	float: left;
	position: relative;
	width: 150px;
	height: 190px;
	border-radius: 2px;
	border: 2px solid #000000;
	padding: 5px;
	background-color: #FCFADA;
}

.spell:hover {
	background-color: lightgray;
}

.spell .spell-hero {
	position: absolute;
	top: 5px;
	left: 5px;
}

.spell .spell-hero img {
	width: 40px;
	height: 40px;	
}

.spell .spell-name {
	margin-left: 45px;
	line-height: 40px;
	font-size: 95%;	
	font-weight: bold;
	width: 100px;	
}
	
.spell .spell-cost {
	margin-top: 10px;
	width: 100%;
	font-size: 70%;	
	font-weight: bold;
	text-transform:uppercase;
}

.spell .spell-duration {
	width: 100%;
	font-size: 80%;
	margin-top: 10px;
	font-weight: bold;
}
			
.spell .spell-description {
	margin-top: 10px;
	width: 100%;
	font-size: 75%;
	background-color: #BBCCE2;
	text-align: center;
	font-weight: bold;
}

.floatleft {
	float: left;
}

#avatar-player-attacker {
	width: 100px;
	text-align: center;
}

#avatar-player-defender {
	width: 100px;
	text-align: center;
}

#stat-player-attacker {
	width: 130px;
	text-align: right;	
}

#stat-player-attacker p {
	padding: 2px;
	margin-right: 5px;
}

#stat-player-attacker h2 {
	text-decoration:underline;
	padding: 2px;
	margin-right: 5px;
}

#stat-player-defender {
	width: 130px;
}

#stat-player-defender p {
	padding: 2px;
	margin-left: 5px;	
}

#popup h2 {
	text-decoration:underline;
	padding: 2px;
	margin-left: 5px;	
}

#attack-grid {
	width: 140px;
	text-align: center;
}

#attack-grid li {
	font-size: 70%;
	border-bottom: 1px solid black;	
}

#control-ui {
	width: 300px;
}

#playerinfo-wrapper {
	width: 400px;
	margin-left: 640px;
	position: absolute;
	background-color: white;
}

.playerinfo-box {
	position: relative;
	width: 330px;
	height: 180px;
	overflow: hidden;
}

.selection-border {
	width: 332px;
	border-style: inset;
	border: 3px solid white;
	background-color: white;
	margin-right: 15px;
	margin-left: 15px; 	
}

.selection-border.selected {
	border: 3px solid gold;	
}

.border {
	border-style: inset;
	border: 1px solid black;
}

.playerinfo-box .stat-box {
	float: left;
	position: relative;
	width: 300px;
	height: 150px;
}

.playerinfo-box .asset-box {
	float: left;
	position: relative;
	height: 180px;
}


.playerinfo-box .nickname-wrapper {
	position: absolute;
	width: 240px;
	top: 0px;
	left: 60px;
	height: 30px;
	line-height: 30px;
	font-weight:bold;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.playerinfo-box .nickname-wrapper img {
	width: 30px;
	height: 30px;
	float: right;
	display: none;
}

.playerinfo-box .class-wrapper {
	position: absolute;
	width: 240px;
	top: 30px;
	left: 60px;
	height: 29px;
	line-height: 30px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;	
	
}

.playerinfo-box .buff-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 185px;
	border-right: 1px solid black;
    /*-webkit-column-width:30px;
    -webkit-column-gap:0px;
    -moz-column-width:30px;
    -moz-column-gap:0px;
    column-width:30px;
    column-gap:0px;*/
}

.playerinfo-box .buff-wrapper ul {
	margin: 0px;
	height: 150px;
	width: auto;
}

.playerinfo-box .buff-wrapper li {
	margin: 0px;
	width: 30px;
	height: 30px;
	text-align: center;
}

.playerinfo-box .buff-wrapper .buff {
	position: relative;
	line-height: 30px;	
}

.playerinfo-box .buff-wrapper .buff img {
	width: 30px;
	height: 30px;
}

.playerinfo-box .buff-wrapper .buff .turn {
	position: absolute;
	left: 0px;
	top: 0px;
	color: black;
	width: 30px;
	font-weight: bold;
}

.playerinfo-box .buff-wrapper li .buffspopup {
	width: 28px;
	height: 28px;
	border: 1px solid black;
	background-color: black;
	color: white;
	font-weight: bold;	
}

.playerinfo-box .inventory-wrapper {
	position: absolute;
	top: 150px;
	left: 0px;
	height: 30px;
	width: 300px;
	border-right: 1px solid black;
}

.playerinfo-box .inventory-wrapper ul {
	margin: 0px;
	height: 30px;	
}

.playerinfo-box .inventory-wrapper li {
	display: inline;
}

.playerinfo-box .inventory-wrapper li img {
	width: 28px;
	height: 28px;
	border: 1px solid black;
}

.playerinfo-box .inventory-wrapper li .inventory{
	display: inline;
}



.playerinfo-box .inventory-wrapper li .itemspopup {
	width: 28px;
	height: 28px;
	border: 1px solid black;
	background-color: black;
	color: white;
	font-weight: bold;	
}


.playerinfo-box .attributes-wrapper {
	position: absolute;
	top: 60px;
	left: 0px;
	height: 30px;
	line-height: 30px;
	width: 300px;
	border-bottom: 1px solid black;	
	border-right: 1px solid black;	
}

.playerinfo-box .attribute-bonus {
	color: blue;
	font-weight: bold;	
}

.playerinfo-box .attributes2-wrapper {
	position: absolute;
	top: 90px;
	left: 0px;
	height: 30px;
	line-height: 30px;
	width: 300px;
	border-bottom: 1px solid black;	
	border-right: 1px solid black;	
}

.playerinfo-box .spell-wrapper {
	position: absolute;
	top: 120px;
	left: 0px;
	height: 30px;
	line-height: 30px;
	width: 300px;
	border-bottom: 1px solid black;	
	border-right: 1px solid black;	
	font-size: 90%
}

.attribute {
	float: left;
	width: 33%;
}

.attribute-border {
	border-left: 1px solid black;
}

.avatar-wrapper {
	clear:both;
	position: absolute;
	top: 0px;
	left: 0px;	
}

.playerinfo-box .avatar-wrapper img {
	width: 60px;
	height: 60px;	
}

.playerinfo-box .sacredstone-wrapper {
	clear:both;
	position: absolute;
	top: 30px;
	right: 0px;
	z-index:5;	
}

.playerinfo-box .sacredstone-wrapper .sacredstone {
	float: left;
	width: 30px;
	height: 30px;
	background-size:30px 30px;
	background-image: url('../images/equipments/pierre-sacree.png');
	background-repeat: no-repeat;
}

.playerinfo-box .sacredstone-wrapper .sacredstone.sacredstone-nd {
	background-image: url('../images/equipments/pierre-sacree-nd.png');
}

.heart {
	margin: 2px;
	margin-right: 5px;
	float: left;
	width: 26px;
	height: 26px;
	background-size:26px 26px;
	background-image: url('../images/game/heart.png');
	background-repeat: no-repeat;	
}

.mana {
	margin: 2px;
	margin-right: 5px;
	float: left;
	width: 26px;
	height: 26px;
	background-size:26px 26px;
	background-image: url('../images/game/mana.png');
	background-repeat: no-repeat;		
}

.gold {
	margin: 2px;
	margin-right: 5px;
	float: left;
	width: 26px;
	height: 26px;
	background-size:26px 26px;
	background-image: url('../images/game/coin.png');
	background-repeat: no-repeat;	
}

.strength-img {
	margin: 2px;
	margin-right: 5px;
	float: left;
	width: 26px;
	height: 26px;
	background-size:26px 26px;
	background-image: url('../images/game/strength.png');
	background-repeat: no-repeat;	
}

.protection-img {
	margin: 2px;
	margin-right: 5px;
	float: left;
	width: 26px;
	height: 26px;
	background-size:26px 26px;
	background-image: url('../images/game/protection.png');
	background-repeat: no-repeat;	
}

.movement-img {
	margin: 2px;
	margin-right: 5px;
	float: left;
	width: 26px;
	height: 26px;
	background-size:26px 26px;
	background-image: url('../images/game/movement.png');
	background-repeat: no-repeat;	
}
