
@CHARSET "ISO-8859-1";

#message 
{
	border: 1px solid black;
	width: 75%;
	height:400px;
	overflow-y:scroll;
	position: relative;
	display: inline-block;
	background-color: white;
}

#chatWindow 
{
	margin-top: 100px;
}

#mainNav {
	width: 100%;
	background-color: #666;
	line-height: 40px;
	z-index: 1000;
	position: relative;
}

#mainNav ul{
	float: right;
	margin-right: 50px;
}

#mainLogo 
{
	float: left;
	margin-left: 20px;
	font-family: "Minecraft Regular";
	font-weight: bold;
	color: #fff;
 	line-height: inherit;
}

.gradient {
	background: -webkit-linear-gradient(top,#777 0,rgba(194,194,194,0) 100%);
background: -moz-linear-gradient(top,#777 0,rgba(194,194,194,0) 100%);
background: -o-linear-gradient(top,#777 0,rgba(194,194,194,0) 100%);
background: -ms-linear-gradient(top,#777 0,rgba(194,194,194,0) 100%);
background: linear-gradient(top,#777 0,rgba(194,194,194,0) 100%);
height: 7px;
z-index: 1000;
position: relative;

}

.menuItems
{
	text-transform: uppercase;
	line-height: inherit;
	display: inline-block;
	width: 110px;
	text-align: center;
	color: #fff;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

.gearsIcon 
{
	display: inline-block;
	height: 40px;
	vertical-align: top;
	background: transparent url(../img/gears.png) no-repeat  center center;
}

.menuItems:after 
{
	content: "";
	width: 5px;
	height: 4px;
	background: transparent url(../img/tiny-arrows.png) no-repeat 0 0;
	display: inline-block;
	margin-left: 5px;	
}

.menuItems:hover 
{
	color: #D4D8D8;
	cursor: pointer;
	border-left: 1px solid #72b8c2;
	border-right: 1px solid #72b8c2;
	margin: 0;
}

.menuItemSelected 
{
	background-color: #72b8c2;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

.textPopup 
{ 
	font-size: 0.8em;
	text-align: right;
	padding-top: 8px;
	line-height: 40px;
}
 
#containerNav 
{
	width: 860px;
	margin: 0 auto;	
	height: 40px;
}

#containerNav ul
{
	list-style-type: none;
	
}
#popupGame 
{
	display:none;
	position: fixed;
	top: 10%;
	left: 80%;
}

#message > ul > li
{
	height: 10px;
	margin-top: 5px;
	margin-left: 3px;
}

ul, li
{
	
	list-style-type: none;
}

#onlineUsers {
	float: right;
	display: inline-block;
	width: 20%;
	heigth: auto;
	border: 1px solid black;
	position: relative;
	right:0;
	top:0;
}

#onlineRooms {
	width : 400px;
	display: none;
}

#onlineRooms ul li {
	height:30px;
	padding: 5px;
}


.newRoomNotification 
{
	position: fixed;
	top: 100px;
	right: 30px;
	z-index: 1001;
}

.red 
{
	color: red;
}

.password {
	background: url('../img/lock.png') no-repeat right;
	background-size:20px 20px;
}

.userSelected 
{
	background-color: red;
}

#chatBar
{
	width: 75%;
	margin-top: 20px;
	margin-right: 20px;

@CHARSET "ISO-8859-1";



#message 
{
	border: 1px solid black;
	width: 75%;
	height:400px;
	overflow-y:scroll;
	position: relative;
	display: inline-block;
}

#message > ul > li
{
	height: 10px;
	margin-top: 6px;
	width: 20px;
}

ul, li
{
	
	list-style-type: none;
}

#onlineUsers {
	float: right;
	display: inline-block;
	width: 20%;
	heigth: auto;
	border: 1px solid black;
	position: relative;
	right:0;
	top:0;
}

#onlineRooms {
	width: 100%;
	overflow: scroll;
	display: inline-block;
}

#onlineRooms ul {
	list-style: none;	
	display: inline-block;
}

#onlineRooms ul li {
	height:30px;
	padding: 5px;
	display: inline-block;
}

.red 
{
	color: red;
}

.password {
	background: url('../img/lock.png') no-repeat right;
	background-size:20px 20px;
	background-position: middle right;
}

#chatBar
{
	width: 80%;
	margin-top: 20px;
	margin-right: 20px;

}

#createGameForm 
{
	display: none;
}