/* CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html
{
	height: 100%;
}
body {
	line-height: 1;
	font-family: "Arvo", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: white;
	font-weight: 500;
	height: 100%;
	/*background-image: url('../img/subtle_dots.png')*/
	background-color: black; 
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START */

header 
{
	margin-bottom: 50px;
}

#leftPanel {
	min-height: 100%;
	display: block;
	width: 100%;
	height: 100%;
}

.slidingPanelText
{
	 position:relative; 	 
	 font-family:'Minecraft Regular';
	 font-size: 8em;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#journey 
{
	position: relative;
	right: -50%;
	font-size: 59px;
    line-height: 70px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 2em;
	display: inline;
}

#journey h2 {
	
	display: inline;
	
}

#loginForm
{
	height: 250px;
	width: 30%;
	margin: 0px auto;
	margin-bottom: 100px;
	background-color: transparent;
    content: '';
    border: 1px dashed #ccc;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;	
}

#inputs {
	position: relative;
	width: 100%;
	top: 15%;
}

#loginForm input[type="text"], #loginForm input[type="password"]
{
display: block;
width: 50%;
border-radius: 3px;
height: 40px;
margin-left: auto;
margin-right: auto;
margin-bottom: 5%;
border: 1px solid #bfbfbf;
background-color: linear-gradient(left , rgb(247,247,247) 43%, rgb(240,240,240) 73%, rgb(245,245,245) 90%);
background-color: -o-linear-gradient(left , rgb(247,247,247) 43%, rgb(240,240,240) 73%, rgb(245,245,245) 90%);
background-color: -moz-linear-gradient(left , rgb(247,247,247) 43%, rgb(240,240,240) 73%, rgb(245,245,245) 90%);
background-color: -webkit-linear-gradient(left , rgb(247,247,247) 43%, rgb(240,240,240) 73%, rgb(245,245,245) 90%);
background-color: -ms-linear-gradient(left , rgb(247,247,247) 43%, rgb(240,240,240) 73%, rgb(245,245,245) 90%);
background-image: url(../img/user-grey.png);
background-size: 20px 20px;
background-position : 4% 50%;
background-repeat: no-repeat;
-webkit-box-shadow: 0px -2px 3px -2px #bfbfbf;  
-moz-box-shadow: 0px -2px 3px -2px #bfbfbf;  
box-shadow:  0px -2px 3px -2px #bfbfbf;
padding-left: 40px;

}
#loginForm input[type="password"]
{
background-image: url(../img/keyicon.png);
background-size: 20px 20px;
background-position : 4% 50%;
background-repeat: no-repeat;

}


#spacer {
	width: 100%;
	height: 200px;

}


#registerForm label 
{
	float: left;
	width: 30%;
	text-align: right;
}



#registerForm input[type="text"], #registerForm input[type="password"]
{
	width: 50%;
	height: 5%;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 16px;
	padding: 6px;
}

.boxRed {
    background-color: rgb(255, 235, 232);
    border: 1px solid rgb(221, 60, 16);
    text-align: center;
    padding: 10px;
}
	

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

#cercles {
	position: absolute;
	bottom: -10%;
	right: 10%;
	width: 20%;
	-moz-animation:myfirst 2s linear 2s  alternate;
	

}
.circle {
	height: 20px;
	width: 20px;
	background-color: #72b8c2;
	border: 2px solid #234e5e;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 50px;
	opacity: 0;

}

#login 
{
	height: 100%;
    width: 700px;
    position:absolute;
    left: 24%;
	padding: 15px;
}
h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
}

h1:after, h1:before
{
    background-color: #777;
    content: "";
    height: 10px;
    position: absolute;
    top: 50%;
    width: 20%;   
    border-radius: 3px;
}

h1:after
{ 
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);      
    right: 0;
}

h1:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

#actions 
{
	margin-left:auto;
	margin-right:auto;
	width: 50%;
	bottom: -20%;
	position: relative;
}

#registerForm {
	background-color: none;
	width: 30%;
	position: relative;
	opacity: 0;
	top: -40px;
	left: 15%;
}
.loginLabels 
{
	display: inline-block;
	cursor: pointer;
	margin-left: 20%;
}

.loginLabels:hover 
{
	color: #72b8c2;
}

#validationCheckEmail {
	height: 20px;
	margin-left: 5%;
	width: 30px;
	display: inline-block;
	position: absolute;
	
}

#validationCheckPW {
	height: 20px;
	margin-left: 5%;
	width: 30px;
	display: inline-block;
	position: absolute;	
}

.wrapper {
margin-left: auto;
position:relative;
margin-right: auto;
width: 960px;
margin-bottom: 100px;
}

#popupMain 
{
z-index: 999;
position:absolute;
top: 35px;
 height: 40px;
 width:100%;
 background-color: #72b8c2;
 margin-right: 10px;
}

#popupMain form
{
	margin-right: 30px;
}



@font-face {font-family:"Minecraft Regular";src:url("../fonts/minecraft_font_by_pwnage_block-d37t6nb.eot?") format("eot"),url("../fonts/minecraft_font_by_pwnage_block-d37t6nb.woff") format("woff"),url("../fonts/minecraft_font_by_pwnage_block-d37t6nb.ttf") format("truetype"),url("../fonts/minecraft_font_by_pwnage_block-d37t6nb.svg#Minecraft") format("svg");font-weight:normal;font-style:normal;}


@keyframes myfirst
{
100% {-webkit-transform:scale(1) rotate(-90deg) translate(-600px, -500px);}
}

@-moz-keyframes myfirst /* Firefox */
{

100% {-webkit-transform:scale(1) rotate(-90deg) translate(-600px, -500px);}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
100% {-webkit-transform:scale(1) rotate(-90deg) translate(-600px, -500px);}
}
